## Nastavení proměnných
Zde nastav všechny proměnné:

In [2]:
import pandas as pd
df = pd.read_csv(r"C:\fenclova\diplomka\analyza\git_diplomka\predvyber_vysledky\0_predvyber.csv", delimiter=";")
df.head()

,ID,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
0,1,0,20,643.16,3,7653.58,747.59,36261.96,5767.13,456577.71
1,2,0,12,1.57,19,10267.07,5409.23,138528.54,1145.86,129623.91
2,3,0,0,0.00,0,3685.11,4942.49,107350.63,2.00,259425.21
3,4,0,0,0.00,0,1395.98,7101.82,0.00,0.00,17419.58
4,5,24,63,21.61,9,3580.46,4451.48,64319.63,56606.64,374180.01

In [3]:
df.set_index('ID').head()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
ID,,,,,,,,,
1,0,20,643.16,3,7653.58,747.59,36261.96,5767.13,456577.71
2,0,12,1.57,19,10267.07,5409.23,138528.54,1145.86,129623.91
3,0,0,0.00,0,3685.11,4942.49,107350.63,2.00,259425.21
4,0,0,0.00,0,1395.98,7101.82,0.00,0.00,17419.58
5,24,63,21.61,9,3580.46,4451.48,64319.63,56606.64,374180.01

In [4]:
# kolik ctvercu ma find_path_problem?
find_path_problem_sum = df['find_path_problem'][df.find_path_problem > 0].shape[0]
find_path_problem_sum

182L

In [5]:
# kolik čtverců má podíl ploch v přípustném intervalu?
df[(df.nejlepsi_podil_ploch >=1) &
    (df.nejlepsi_podil_ploch <= 5)].shape

(388, 10)

In [6]:
# kolik čtverců má podíl ploch v intervalu? AND nebyl problem s vvýběrem?
df[(df.find_path_problem == 0) &
    (df.nejlepsi_podil_ploch >=1) &
    (df.nejlepsi_podil_ploch <= 5)].shape

(307, 10)

In [7]:
# PODMÍNKA: povolit problem pri hledani cesty? 0 = nepovoleno
find_path_problem_podminka = 0

# PODMÍNKA: podíl ploch po rozdělení čtverce vodním tokem
nejlepsi_podil_ploch_max = 5

# minimální počet průsečíků vodního toku a mřížky
pocet_pruseciku_min = 10

# PODMÍNKA: délka železnice
zeleznice_delka_min = 2000
zeleznice_delka_max = 15000

# PODMÍNKA: minimální délka rozvodncie III. řádu
rozvodniceIII_delka_min = 500 # v mapě linie 2 cm

# PODMÍNKA: výskyt vodní plochy, minimální délka
vodni_plohy_min = 62500 # 1cm2 v mapě
vodni_plohy_max = 500000 # 8cm2 v mapě = polovina malého čtverečku

# PODMÍNKA: maximalni povolena rozloha skal a povrchové těžby
relief_rozloha_max = 62500 # 1cm2 v mapě

# PODMÍNKA: výskyt zástavby
zastavba_rozloha_min = 62500 # 1cm2 v mapě

df[(df.find_path_problem == find_path_problem_podminka) &
    (df.nejlepsi_podil_ploch >=1) & (df.nejlepsi_podil_ploch <= nejlepsi_podil_ploch_max) &
    (df.zeleznice_delka >= zeleznice_delka_min) & (df.zeleznice_delka <= zeleznice_delka_max) &
   (df.rozvodniceIII_delka >= rozvodniceIII_delka_min) &
   (df.relief_rozloha <= relief_rozloha_max) &
   (df.vodni_plohy_rozloha > vodni_plohy_min) & (df.vodni_plohy_rozloha <= vodni_plohy_max) &
   (df.zastavba_rozloha > zastavba_rozloha_min)].describe()

,ID,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
count,99.000000,99.0,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,9.900000e+01
mean,412.313131,0.0,23.848485,2.133434,18.131313,6263.479899,3797.611717,193754.525455,8603.868889,1.593346e+06
std,228.407961,0.0,25.821745,1.076374,4.763052,3371.092899,2197.551847,126023.042582,14787.215494,1.195235e+06
min,2.000000,0.0,1.000000,1.010000,10.000000,2157.530000,512.760000,62712.570000,0.000000,1.296239e+05
25%,247.500000,0.0,9.000000,1.230000,15.000000,3981.555000,2070.915000,98654.380000,0.000000,7.037073e+05
50%,412.000000,0.0,16.000000,1.730000,17.000000,5183.040000,3339.240000,143541.260000,1145.860000,1.247553e+06
75%,598.500000,0.0,31.000000,2.925000,20.000000,7285.750000,5261.670000,281808.975000,10825.615000,2.024279e+06
max,796.000000,0.0,162.000000,4.940000,37.000000,14913.030000,11246.500000,498886.820000,60622.450000,5.240094e+06

In [8]:
# PODMÍNKA: povolit problem pri hledani cesty? 0 = nepovoleno
find_path_problem_podminka = 0

# PODMÍNKA: podíl ploch po rozdělení čtverce vodním tokem
nejlepsi_podil_ploch_max = 5 

# minimální počet průsečíků vodního toku a mřížky
pocet_pruseciku_min = 10

# PODMÍNKA: délka železnice 
zeleznice_delka_min = 2*500 # v mape generalizace 1 : 50 000 linie 2 cm
zeleznice_delka_max = 15000

# PODMÍNKA: minimální délka rozvodncie III. řádu
rozvodniceIII_delka_min = 2*250 # v mapě linie 2 cm

# PODMÍNKA: výskyt vodní plochy, minimální délka
vodni_plohy_min = 1*62500 # 1cm2 v mapě 1 : 25000
vodni_plohy_max = 16*62500 # 16cm2 v mapě = malý čtvereček !!! zde pozor > řeka = vodní plocha

# PODMÍNKA: maximalni povolena rozloha skal a povrchové těžby
relief_rozloha_max = 2*62500 # 2cm2 v mapě

# PODMÍNKA: výskyt zástavby
zastavba_rozloha_min = 1*62500 # 1cm2 v mapě

vyber1 = df[(df.nejlepsi_podil_ploch >=1) & (df.nejlepsi_podil_ploch <= nejlepsi_podil_ploch_max) &
   (df.pocet_pruseciku >= pocet_pruseciku_min) &
    (df.zeleznice_delka >= zeleznice_delka_min) & (df.zeleznice_delka <= zeleznice_delka_max) &
   (df.rozvodniceIII_delka >= rozvodniceIII_delka_min) &
   (df.relief_rozloha <= relief_rozloha_max) &
   (df.vodni_plohy_rozloha > vodni_plohy_min) & #(df.vodni_plohy_rozloha <= vodni_plohy_max) &
   (df.zastavba_rozloha > zastavba_rozloha_min)].set_index('ID')

# bez podminky o problemu pri hledani vodniho toku + 23
# bez podminky vodni plochy + 81

In [9]:
vyber1.head()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
ID,,,,,,,,,
2,0,12,1.57,19,10267.07,5409.23,138528.54,1145.86,129623.91
18,0,5,1.47,28,2565.37,2684.22,199327.07,0.00,411377.28
19,0,32,1.56,20,3652.44,3774.48,1022922.98,29590.01,1014133.46
24,0,12,3.63,14,2313.35,1890.75,182835.21,0.00,523542.91
31,0,8,3.34,15,3985.97,8718.45,67688.28,0.00,356427.71

In [10]:
vyber1.to_csv('0_predvyber_analyza.csv')

In [11]:
test = pd.read_csv('0_predvyber_analyza.csv').set_index('ID')
test.head()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
ID,,,,,,,,,
2,0,12,1.57,19,10267.07,5409.23,138528.54,1145.86,129623.91
18,0,5,1.47,28,2565.37,2684.22,199327.07,0.00,411377.28
19,0,32,1.56,20,3652.44,3774.48,1022922.98,29590.01,1014133.46
24,0,12,3.63,14,2313.35,1890.75,182835.21,0.00,523542.91
31,0,8,3.34,15,3985.97,8718.45,67688.28,0.00,356427.71

In [12]:
def vybrano (radek):
    return True
    
vybrano = test.apply(vybrano, axis=1).to_frame()
vybrano.columns = ['predvyber']
vybrano.head()

    predvyber
ID
2        True
18       True
19       True
24       True
31       True

In [13]:
vybrano.to_csv('0_predvyber_analyza_True.csv')

In [14]:
test = pd.read_csv('0_predvyber_analyza_True.csv')
test

      ID  predvyber
0      2       True
1     18       True
2     19       True
3     24       True
4     31       True
5     37       True
6     38       True
7     42       True
8     45       True
9     47       True
10    48       True
11    51       True
12    53       True
13    55       True
14    57       True
15    61       True
16    66       True
17    71       True
18    72       True
19    75       True
20    81       True
21    92       True
22    96       True
23    98       True
24    99       True
25   100       True
26   102       True
27   104       True
28   107       True
29   108       True
..   ...        ...
170  682       True
171  687       True
172  694       True
173  695       True
174  696       True
175  700       True
176  702       True
177  709       True
178  711       True
179  712       True
180  729       True
181  730       True
182  738       True
183  739       True
184  750       True
185  751       True
186  753       True
187  754       True
188  767       True
189  779       True
190  788       True
191  789       True
192  792       True
193  796       True
194  800       True
195  813       True
196  820       True
197  822       True
198  824       True
199  847       True

[200 rows x 2 columns]