In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
hypso = pd.read_csv('1_hypsometrie_analyza.csv').set_index('ID')
hypso.head()

    vhodny_ziv  vhodny_soucet  vhodny_pocet  vrstevnice_orig
ID
0        99999        99999.0       99999.0          99999.0
1           10          115.0          31.0            185.0
2           10          142.0          43.0            142.0
3           10          111.0          28.0            139.0
4        99999        99999.0       99999.0             11.0

In [3]:
pd.cut(hypso['vhodny_soucet'], [0, 100, 200, float('inf')], labels=range(1,4))

ID
0      3
1      2
2      2
3      2
4      3
5      2
6      3
7      3
8      3
9      3
10     1
11     2
12     2
13     1
14     1
15     3
16     3
17     2
18     2
19     1
20     3
21     1
22     3
23     1
24     3
25     3
26     3
27     3
28     3
29     3
      ..
846    2
847    2
848    2
849    2
850    1
851    2
852    2
853    2
854    2
855    1
856    1
857    1
858    2
859    2
860    2
861    1
862    1
863    2
864    2
865    2
866    1
867    2
868    2
869    1
870    2
871    1
872    2
873    1
874    1
875    1
Name: vhodny_soucet, Length: 876, dtype: category
Categories (3, int64): [1 < 2 < 3]

In [4]:
# řeky
reky_delka = pd.read_csv(r'C:\fenclova\diplomka\analyza\vysledky\delka_vodnich_toku_1verze.csv')
reky_delka.head()

,ID,celkova_delka,r0,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10
0,18,29989.50,0.0,0.0,5265.47,12875.53,8978.29,2570.61,191.46,108.15,0.00,0.0,0.0
1,19,17390.63,0.0,0.0,2324.07,8914.97,5195.23,956.36,0.00,0.00,0.00,0.0,0.0
2,21,15933.14,0.0,0.0,0.00,4393.95,9385.00,1804.38,304.23,45.58,0.00,0.0,0.0
3,38,14776.24,0.0,0.0,0.00,4325.05,4687.96,3998.69,1507.86,160.84,95.84,0.0,0.0
4,76,14292.73,0.0,0.0,0.00,1943.40,4726.80,4705.02,1732.57,562.98,621.96,0.0,0.0

In [5]:
# chci vodní toky min 2 řádů (kde délka > 500 m)
# 
# funkce sečte počet linií v 16 dílčích čtvercích
def pocet_radu(radek):
    # odchylka return sum(map(lambda x: abs(x - ideal_pocet_dilci), list(radek)[2:]))
    return len(filter(lambda x: x>500, list(radek)[3:]))

# pro všech 16 dílků spočti součet linii v každém čtverečku
velka_radovost = reky_delka.apply(pocet_radu, axis=1)
reky_delka["pocet_velke_radovosti"] = velka_radovost

In [6]:
reky_delka

,ID,celkova_delka,r0,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,pocet_velke_radovosti
0,18,29989.50,0.00,0.00,5265.47,12875.53,8978.29,2570.61,191.46,108.15,0.00,0.00,0.00,4
1,19,17390.63,0.00,0.00,2324.07,8914.97,5195.23,956.36,0.00,0.00,0.00,0.00,0.00,4
2,21,15933.14,0.00,0.00,0.00,4393.95,9385.00,1804.38,304.23,45.58,0.00,0.00,0.00,3
3,38,14776.24,0.00,0.00,0.00,4325.05,4687.96,3998.69,1507.86,160.84,95.84,0.00,0.00,4
4,76,14292.73,0.00,0.00,0.00,1943.40,4726.80,4705.02,1732.57,562.98,621.96,0.00,0.00,6
5,154,16578.19,0.00,0.00,0.00,0.00,5073.65,7548.03,3917.72,38.79,0.00,0.00,0.00,3
6,177,25862.45,0.00,0.00,0.00,0.00,0.00,1636.31,2319.97,3659.57,7280.73,8538.98,2426.89,6
7,183,16634.40,0.00,0.00,0.00,0.00,5033.29,2866.08,1430.02,1840.49,3058.90,2405.63,0.00,6
8,205,17545.59,0.00,0.00,0.00,5988.98,9045.20,2511.41,0.00,0.00,0.00,0.00,0.00,3
9,238,26443.87,0.00,0.00,0.00,0.00,8304.16,13429.03,4238.89,471.79,0.00,0.00,0.00,3
10,246,18450.69,0.00,0.00,0.00,0.00,1005.60,1052.52,7220.99,6521.05,2102.08,548.45,0.00,6
11,247,24801.88,0.00,0.00,0.00,0.00,6490.30,13359.62,4658.18,293.79,0.00,0.00,0.00,3
12,268,27614.87,0.00,0.00,0.00,0.00,8035.88,10508.46,5716.21,2779.20,575.11,0.00,0.00,5
13,278,25313.15,112.93,0.00,0.00,0.00,2202.96,11651.16,9573.69,1652.21,120.21,0.00,0.00,4
14,279,22542.32,0.00,0.00,0.00,0.00,0.00,7446.62,10045.11,4315.09,608.54,126.96,0.00,4
15,306,12873.00,0.00,0.00,0.00,0.00,0.00,0.00,3584.76,7299.58,1647.99,248.30,92.36,3
16,312,21162.11,0.00,0.00,0.00,0.00,0.00,3116.26,8125.59,7038.62,2604.33,277.31,0.00,4
17,313,17660.85,0.00,0.00,0.00,0.00,0.00,3315.92,7321.06,6286.73,737.13,0.00,0.00,4
18,314,22918.94,0.00,0.00,0.00,0.00,0.00,5707.20,12015.79,4241.23,869.85,84.87,0.00,4
19,315,27798.10,0.00,0.00,0.00,0.00,4517.86,11648.23,7732.92,3559.54,339.56,0.00,0.00,4
20,316,23253.17,0.00,0.00,0.00,0.00,0.00,4399.44,7339.22,8308.43,2640.66,434.69,130.74,4
21,321,5913.01,0.00,0.00,0.00,0.00,0.00,1553.76,2828.00,1119.21,121.57,290.47,0.00,3
22,339,17567.79,0.00,0.00,4231.91,7000.60,4689.97,1645.30,0.00,0.00,0.00,0.00,0.00,4
23,345,22521.19,0.00,0.00,0.00,0.00,5547.56,8120.54,6720.74,1929.60,202.76,0.00,0.00,4
24,348,14721.36,0.00,0.00,0.00,0.00,4855.08,6988.88,2650.96,226.44,0.00,0.00,0.00,3
25,352,14558.46,0.00,0.00,0.00,0.00,0.00,0.00,3628.86,4658.31,5655.21,616.08,0.00,4
26,358,21584.54,0.00,0.00,0.00,0.00,0.00,4476.80,11218.02,5657.86,231.86,0.00,0.00,3
27,360,13217.67,0.00,0.00,0.00,0.00,0.00,0.00,283.36,5945.73,6062.07,926.50,0.00,3
28,361,24291.49,0.00,0.00,0.00,0.00,0.00,0.00,0.00,8911.34,10455.23,4924.93,0.00,3
29,362,20245.53,0.00,0.00,0.00,0.00,0.00,0.00,7162.20,9976.69,3106.63,0.00,0.00,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,33536,30300.42,0.00,0.00,8002.92,13521.42,8215.21,560.86,0.00,0.00,0.00,0.00,0.00,4
1971,33537,18579.14,0.00,0.00,2179.09,5322.74,7671.40,2570.90,834.31,0.71,0.00,0.00,0.00,5
1972,33574,18106.36,0.00,4844.48,10426.97,2609.74,225.17,0.00,0.00,0.00,0.00,0.00,0.00,3
1973,33602,12901.01,227.19,0.00,0.00,2390.34,6033.81,3606.36,552.15,91.15,0.00,0.00,0.00,4
1974,33607,21165.73,0.00,0.00,0.00,0.00,7101.77,10652.15,2771.70,640.11,0.00,0.00,0.00,4
1975,33609,18212.26,0.00,0.00,0.00,0.00,0.00,3922.21,11920.70,2369.36,0.00,0.00,0.00,3
1976,33662,15102.96,0.00,0.00,0.00,0.00,4532.79,9122.01,1367.09,81.07,0.00,0.00,0.00,3
1977,33663,16294.54,0.00,0.00,0.00,0.00,5872.04,7934.03,1981.03,507.44,0.00,0.00,0.00,4
1978,33664,13488.13,0.00,0.00,0.00,0.00,6310.60,5296.49,970.49,910.55,0.00,0.00,0.00,4
1979,33730,7827.93,0.00,0.00,0.00,0.00,3592.22,3793.36,252.30,190.06,0.00,0.00,0.00,2
1980,33750,13290.76,0.00,0.00,4274.61,4621.11,2386.53,2008.51,0.00,0.00,0.00,0.00,0.00,4
1981,33776,18332.75,0.00,0.00,0.00,4418.58,6995.87,4589.99,2259.81,68.50,0.00,0.00,0.00,4
1982,33920,16188.07,106.60,0.00,0.00,6942.20,4158.85,3121.92,1559.67,298.83,0.00,0.00,0.00,4
1983,33922,14416.27,0.00,0.00,0.00,5193.50,3681.24,3990.02,1454.56,96.95,0.00,0.00,0.00,4
1984,33943,9471.24,0.00,0.00,5001.83,3863.53,605.88,0.00,0.00,0.00,0.00,0.00,0.00,3
1985,33963,17904.43,0.00,0.00,0.00,3828.45,8775.15,2387.95,2274.51,638.38,0.00,0.00,0.00,5
1986,33964,24715.86,0.00,0.00,0.00,5435.72,10706.25,7880.81,693.08,0.00,0.00,0.00,0.00,4
1987,33996,12212.21,0.00,0.00,7520.83,3285.07,1406.31,0.00,0.00,0.00,0.00,0.00,0.00,3
1988,34003,20856.70,0.00,0.00,0.00,5375.44,6499.63,6232.04,1929.47,820.12,0.00,0.00,0.00,5
1989,34041,15695.41,0.00,0.00,4266.22,10375.88,1053.30,0.00,0.00,0.00,0.00,0.00,0.00,3
1990,34069,4806.69,758.31,0.00,0.00,3989.60,58.78,0.00,0.00,0.00,0.00,0.00,0.00,1
1991,34071,16455.28,0.00,0.00,6966.64,5011.73,3795.68,681.22,0.00,0.00,0.00,0.00,0.00,4
1992,34155,5122.32,0.00,5122.32,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1
1993,34173,19093.99,0.00,3414.97,11931.71,3559.06,188.24,0.00,0.00,0.00,0.00,0.00,0.00,3
1994,34197,16302.62,0.00,0.00,6224.65,5135.46,3425.04,1517.47,0.00,0.00,0.00,0.00,0.00,4
1995,34254,14277.39,0.00,0.00,5805.73,7565.57,906.09,0.00,0.00,0.00,0.00,0.00,0.00,3
1996,34255,17983.46,0.00,0.00,5861.68,6961.38,4815.60,344.80,0.00,0.00,0.00,0.00,0.00,3
1997,34313,10528.89,0.00,0.00,1858.15,3859.66,4431.14,379.95,0.00,0.00,0.00,0.00,0.00,3
1998,34342,25429.82,0.00,0.00,9866.66,9123.99,5083.69,1355.47,0.00,0.00,0.00,0.00,0.00,4
1999,34423,26703.30,21614.16,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5089.14,1