In [6]:
# -*- coding: utf-8 -*-
from __future__ import unicode_literals
import pandas as pd

In [7]:
df = pd.read_csv(r"C:\fenclova\diplomka\analyza\vysledky\875\0_predvyber.csv", delimiter=';').set_index('ID')
df.head()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
ID,,,,,,,,,
1,0,20,643.16,3,7653.58,747.59,36261.96,5767.13,456577.71
2,0,12,1.57,19,10267.07,5409.23,138528.54,1145.86,129623.91
3,0,0,0.00,0,3685.11,4942.49,107350.63,2.00,259425.21
4,0,0,0.00,0,1395.98,7101.82,0.00,0.00,17419.58
5,24,63,21.61,9,3580.46,4451.48,64319.63,56606.64,374180.01

In [8]:
# PODMÍNKA: délka železnice
zeleznice_delka_min = 3000
zeleznice_delka_max = 10000

# PODMÍNKA: výskyt zástavby
zastavba_rozloha_min = 0.2*1000*1000 #0,2 km2 ve skutečnosti (velmi řídké osídlení)
zastavba_rozloha_max = 2*1000*1000   #2km2 ve skutečnosti (1/8 území) 2cm2 v mapě 1 : 50 000 2*(2*500)**2

# PODMÍNKA: maximalni povolena rozloha skal a povrchové těžby
relief_rozloha_max = 1*250*250 # 1cm2 v mapě 1 : 25 000

In [9]:
# řeky řádovost
reky_delka = pd.read_csv(r'C:\fenclova\diplomka\analyza\vysledky\875\2_radovost_toku.csv').set_index('ID')
reky_delka.head()

,celkova_delka,r0,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10
ID,,,,,,,,,,,,
1,12224.01,0.00,0.0,0.0,0.00,8119.40,4104.61,0.00,0.0,0.0,0.0,0.0
2,14621.19,741.85,0.0,0.0,5791.02,8088.32,0.00,0.00,0.0,0.0,0.0,0.0
3,12917.95,0.00,0.0,0.0,3614.38,5030.25,2894.37,1378.95,0.0,0.0,0.0,0.0
4,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0
5,14544.61,0.00,0.0,0.0,1900.49,8096.87,4547.25,0.00,0.0,0.0,0.0,0.0

In [10]:
# funkce sečte kolik řádů má délku větší 500 m
def pocet_radu(radek):
    return len(filter(lambda x: x>500, list(radek)[3:]))

# pro všech 16 dílků spočti součet linii v každém čtverečku
pocet_radu = reky_delka.apply(pocet_radu, axis=1)
reky_delka["pocet_radu"] = pocet_radu

In [11]:
reky_delka.head()

,celkova_delka,r0,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,pocet_radu
ID,,,,,,,,,,,,,
1,12224.01,0.00,0.0,0.0,0.00,8119.40,4104.61,0.00,0.0,0.0,0.0,0.0,2
2,14621.19,741.85,0.0,0.0,5791.02,8088.32,0.00,0.00,0.0,0.0,0.0,0.0,2
3,12917.95,0.00,0.0,0.0,3614.38,5030.25,2894.37,1378.95,0.0,0.0,0.0,0.0,4
4,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0
5,14544.61,0.00,0.0,0.0,1900.49,8096.87,4547.25,0.00,0.0,0.0,0.0,0.0,3

In [12]:
df = df.join(reky_delka)
df.tail()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha,celkova_delka,...,r2,r3,r4,r5,r6,r7,r8,r9,r10,pocet_radu
ID,,,,,,,,,,,,,,,,,,,,,
871,0,0,0.0,0,3386.93,5504.67,30637.78,3625.95,1495668.19,0.00,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0
872,0,10,0.0,0,5022.59,5981.77,251070.75,13535.81,534737.16,17516.93,...,0.0,0.0,7880.38,7010.46,2626.1,0.0,0.0,0.0,0.0,3
873,0,0,0.0,0,5019.25,9075.87,152686.74,924828.83,1488387.67,2861.94,...,0.0,0.0,895.71,1966.23,0.0,0.0,0.0,0.0,0.0,2
874,0,0,0.0,0,5319.84,5991.45,113714.38,754517.40,1527402.42,2376.08,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0
875,0,0,0.0,0,8356.38,762.32,1557485.76,22941.92,328163.62,0.00,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0

In [13]:
predvyber = df[(df.zeleznice_delka >= zeleznice_delka_min) & (df.zeleznice_delka <= zeleznice_delka_max) &
                (df.zastavba_rozloha >= zastavba_rozloha_min) & (df.zastavba_rozloha <= zastavba_rozloha_max)&
                (df.relief_rozloha <= relief_rozloha_max) &
               (df.rozvodniceIII_delka >= 500) &
               (df.nejlepsi_podil_ploch >= 1) & (df.nejlepsi_podil_ploch <=3) # 1/2 - 1/3 plochy
                 & (df.pocet_pruseciku >= 5) # pojistka pro případ chyby při výpočtech
                & (df.pocet_radu >=2) # minimálně 2 řády
                & (df.pocet_radu <=5) # maximum řádů = 5
                 & (df.r0 <= 1000)
             ]
predvyber.describe()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha,celkova_delka,...,r2,r3,r4,r5,r6,r7,r8,r9,r10,pocet_radu
count,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,9.200000e+01,92.000000,9.200000e+01,92.000000,...,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.000000,92.0,92.000000
mean,3.217391,31.815217,1.694239,18.804348,5511.975978,3005.820870,3.448278e+05,7305.779130,9.782612e+05,17905.332717,...,1580.196087,3973.933152,5266.034457,3774.052609,2169.640978,750.941630,200.122174,52.564457,0.0,3.293478
std,7.654383,33.699033,0.539035,5.159519,1659.539633,2016.723601,6.756349e+05,13095.417887,4.160382e+05,6714.060790,...,2659.739854,3998.029334,4207.044677,4122.222717,3083.566681,1755.924415,868.409515,303.715102,0.0,0.819247
min,0.000000,1.000000,1.000000,13.000000,3058.830000,507.080000,4.942700e+02,0.000000,2.220841e+05,6423.790000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,2.000000
25%,0.000000,9.000000,1.210000,15.000000,4409.817500,1348.437500,4.726663e+04,0.000000,6.016010e+05,12859.452500,...,0.000000,0.000000,803.172500,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,3.000000
50%,0.000000,20.000000,1.610000,17.000000,5049.205000,2654.390000,1.106247e+05,11.990000,9.781478e+05,17340.975000,...,0.000000,4278.860000,5377.975000,2328.625000,0.000000,0.000000,0.000000,0.000000,0.0,3.000000
75%,0.000000,40.000000,2.010000,21.000000,6404.925000,4112.197500,3.395061e+05,7256.325000,1.281974e+06,21465.965000,...,3649.417500,5762.542500,8562.890000,5856.810000,3716.827500,0.000000,0.000000,0.000000,0.0,4.000000
max,38.000000,162.000000,2.940000,38.000000,9822.260000,11246.500000,4.581831e+06,60046.100000,1.991342e+06,43992.360000,...,10630.770000,16522.950000,18596.810000,16252.290000,11765.380000,7162.380000,5848.800000,2146.670000,0.0,5.000000

In [29]:
predvyber2 = df[#(df.relief_rozloha <= relief_rozloha_max)
               #(df.rozvodniceIII_delka >= 500) &
               &(df.nejlepsi_podil_ploch >= 1) & (df.nejlepsi_podil_ploch <=2) # 1/2 - 1/3 plochy
                #& (df.pocet_pruseciku >= 5) # pojistka pro případ chyby při výpočtech
                #& (df.pocet_radu >=2) # minimálně 2 řády
                #& (df.pocet_radu <=5) # maximum řádů = 5
                #& (df.r0 <= 1000)
             ]
predvyber2.describe()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha,celkova_delka,...,r2,r3,r4,r5,r6,r7,r8,r9,r10,pocet_radu
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,1.830000e+02,183.000000,1.830000e+02,183.000000,...,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,2.360656,28.737705,1.382295,19.120219,6401.284973,3714.525738,3.437527e+05,8819.801530,1.658847e+06,17796.333005,...,1600.492240,3936.285410,4877.260984,3989.881148,2104.438798,572.024262,110.893388,32.146776,9.016831,3.284153
std,7.175277,38.277860,0.307970,4.715741,6022.430631,2879.462033,5.785958e+05,14315.127965,1.675533e+06,6232.312798,...,2712.880368,3951.819095,3843.071110,3954.117086,3209.329638,1538.910136,593.088542,228.269811,121.977423,0.947014
min,0.000000,1.000000,1.000000,13.000000,0.000000,29.970000,7.270200e+02,0.000000,2.165666e+04,4429.700000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,10.000000,1.110000,15.500000,3072.785000,1517.290000,6.278662e+04,0.000000,6.242660e+05,13428.870000,...,0.000000,0.000000,825.270000,260.870000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
50%,0.000000,20.000000,1.310000,18.000000,4806.580000,3177.750000,1.435413e+05,656.220000,1.131831e+06,17264.760000,...,0.000000,4288.370000,5094.480000,2945.070000,508.590000,0.000000,0.000000,0.000000,0.000000,3.000000
75%,0.000000,36.000000,1.650000,22.000000,7714.705000,4866.885000,3.848309e+05,13358.940000,1.866858e+06,20943.730000,...,3472.685000,6145.875000,7840.515000,6790.400000,3266.235000,0.000000,0.000000,0.000000,0.000000,4.000000
max,60.000000,420.000000,2.000000,38.000000,38861.900000,17385.290000,4.581831e+06,60620.090000,1.158311e+07,49461.020000,...,11596.580000,16522.950000,13883.660000,20598.820000,16235.700000,7416.990000,5848.800000,2146.670000,1650.080000,7.000000

In [14]:
# funkce vrátí 1=True pokud ID splňuje podmínku
def splnuje (radek):
    return 1
    
predvyber_true = predvyber.apply(splnuje, axis=1).to_frame()
predvyber_true.columns = ['predvyber_ANO']
predvyber_true.head()

    predvyber_ANO
ID
19              1
47              1
53              1
66              1
68              1

## spojeni s HYPSOMETRyjí

In [15]:
hypso_body = pd.read_csv(r"C:\fenclova\diplomka\analyza\vysledky\875\1_hypsometrie_body.csv").set_index("ID")

In [16]:
hypso_body.head()

    hypso_body
ID
0            0
1            4
2            4
3            3
4            0

In [17]:
hypso_body[hypso_body.hypso_body > 0].describe()

       hypso_body
count  759.000000
mean     3.403162
std      0.996453
min      1.000000
25%      3.000000
50%      3.000000
75%      4.000000
max      7.000000

In [32]:
df2 = predvyber2.join(hypso_body)
# body od 3 do 5 (ideal == 4)
df2[(df2.hypso_body >= 3) & (df2.hypso_body <= 5)].describe()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha,celkova_delka,...,r3,r4,r5,r6,r7,r8,r9,r10,pocet_radu,hypso_body
count,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,1.230000e+02,123.000000,1.230000e+02,123.000000,...,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000,123.000000
mean,1.650407,22.674797,1.402358,18.975610,6215.789268,3473.463171,2.359896e+05,9220.448211,1.682928e+06,17230.367073,...,3465.853415,4973.983577,4254.497561,2197.345041,620.335935,145.487398,42.217805,13.415285,3.276423,3.682927
std,6.598539,19.151037,0.308224,4.456462,5669.344455,2822.206682,3.159993e+05,15081.225477,1.793744e+06,5413.036606,...,3758.675997,3748.964834,3553.378869,3137.788367,1633.656846,704.100455,271.262736,148.782703,0.952140,0.771597
min,0.000000,1.000000,1.000000,13.000000,0.000000,29.970000,7.270200e+02,0.000000,8.804983e+04,4429.700000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
25%,0.000000,9.000000,1.125000,16.000000,3151.205000,1221.730000,3.983790e+04,0.000000,5.847635e+05,13922.555000,...,0.000000,844.590000,757.890000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
50%,0.000000,18.000000,1.320000,18.000000,4806.580000,3086.070000,1.097442e+05,656.220000,1.017784e+06,17232.580000,...,2945.250000,5342.840000,4123.520000,625.790000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
75%,0.000000,29.000000,1.680000,21.000000,7452.720000,4697.145000,3.037094e+05,14425.140000,1.890005e+06,20587.950000,...,5815.985000,7699.720000,6886.480000,2667.710000,0.000000,0.000000,0.000000,0.000000,4.000000,4.000000
max,60.000000,130.000000,1.980000,38.000000,38861.900000,17385.290000,1.726457e+06,60620.090000,1.158311e+07,30955.910000,...,15466.070000,13883.660000,14263.050000,11765.380000,7416.990000,5848.800000,2146.670000,1650.080000,6.000000,5.000000