In [90]:
import pandas as pd
df = pd.read_csv(r"C:\fenclova\diplomka\analyza\git_diplomka\predvyber_vysledky\0_predvyber.csv", delimiter=";")
df.head() # initial few rows

,ID,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
0,1,0,20,643.16,3,7653.58,747.59,36261.96,5767.13,456577.71
1,2,0,12,1.57,19,10267.07,5409.23,138528.54,1145.86,129623.91
2,3,0,0,0.00,0,3685.11,4942.49,107350.63,2.00,259425.21
3,4,0,0,0.00,0,1395.98,7101.82,0.00,0.00,17419.58
4,5,24,63,21.61,9,3580.46,4451.48,64319.63,56606.64,374180.01

In [91]:
rows, columns = df.shape # dimension of csv
print rows, columns

875 10

In [92]:
df.head(2) # first few rows

,ID,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
0,1,0,20,643.16,3,7653.58,747.59,36261.96,5767.13,456577.71
1,2,0,12,1.57,19,10267.07,5409.23,138528.54,1145.86,129623.91

In [93]:
df.tail() # last few rows

,ID,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
870,871,0,0,0.0,0,3386.93,5504.67,30637.78,3625.95,1495668.19
871,872,0,10,0.0,0,5022.59,5981.77,251070.75,13535.81,534737.16
872,873,0,0,0.0,0,5019.25,9075.87,152686.74,924828.83,1488387.67
873,874,0,0,0.0,0,5319.84,5991.45,113714.38,754517.40,1527402.42
874,875,0,0,0.0,0,8356.38,762.32,1557485.76,22941.92,328163.62

In [94]:
df[2:5]

,ID,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
2,3,0,0,0.00,0,3685.11,4942.49,107350.63,2.00,259425.21
3,4,0,0,0.00,0,1395.98,7101.82,0.00,0.00,17419.58
4,5,24,63,21.61,9,3580.46,4451.48,64319.63,56606.64,374180.01

In [95]:
df.columns

Index([u'ID', u'find_path_problem', u'end_start_kombinace',
       u'nejlepsi_podil_ploch', u'pocet_pruseciku', u'zeleznice_delka',
       u'rozvodniceIII_delka', u'vodni_plohy_rozloha', u'relief_rozloha',
       u'zastavba_rozloha'],
      dtype='object')

In [96]:
df.relief_rozloha
df.relief_rozloha.head()

0     5767.13
1     1145.86
2        2.00
3        0.00
4    56606.64
Name: relief_rozloha, dtype: float64

In [97]:
type(df['ID'])

pandas.core.series.Series

In [98]:
df[['ID', 'relief_rozloha']].head()

   ID  relief_rozloha
0   1         5767.13
1   2         1145.86
2   3            2.00
3   4            0.00
4   5        56606.64

In [99]:
df['ID'].max() # max, min, mean, std

875

In [100]:
df.describe() # statistics for integer data

,ID,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
count,875.000000,875.000000,875.000000,875.000000,875.000000,875.000000,875.000000,8.750000e+02,8.750000e+02,8.750000e+02
mean,438.000000,3.086857,25.466286,1680.348629,11.355429,5452.798571,4196.851897,2.230366e+05,8.224765e+04,1.377615e+06
std,252.735039,8.736506,34.843648,17757.882748,7.465287,5409.768998,2518.418469,3.882319e+05,5.530714e+05,1.562079e+06
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.310000,0.000000e+00,0.000000e+00,0.000000e+00
25%,219.500000,0.000000,6.000000,1.320000,5.000000,2536.830000,2314.095000,2.612476e+04,0.000000e+00,5.196830e+05
50%,438.000000,0.000000,16.000000,3.480000,12.000000,4366.110000,4421.080000,8.208834e+04,2.344150e+03,9.144943e+05
75%,656.500000,0.000000,35.000000,17.415000,16.000000,6277.015000,5593.995000,2.489249e+05,2.354503e+04,1.562346e+06
max,875.000000,116.000000,420.000000,356948.110000,38.000000,50300.280000,17385.290000,4.581831e+06,1.123640e+07,1.450715e+07

In [101]:
df['relief_rozloha'].max()

11236401.64

In [102]:
# give me 2 columns, where zeleznice_delka >= 2000
df[['ID', 'zeleznice_delka']][df.zeleznice_delka >= 2000]

      ID  zeleznice_delka
0      1          7653.58
1      2         10267.07
2      3          3685.11
4      5          3580.46
5      6          6241.82
6      7          5643.58
8      9          5628.82
9     10          2624.20
10    11          5897.55
12    13          4770.81
13    14         26657.17
15    16          3200.79
16    17          4336.95
17    18          2565.37
18    19          3652.44
19    20          3732.16
20    21          3245.96
21    22          4290.32
22    23          4737.50
23    24          2313.35
24    25          4402.13
25    26          4013.47
26    27         11356.58
27    28          5071.04
28    29          3803.42
29    30          3698.04
30    31          3985.97
31    32          4441.96
32    33          4321.82
33    34          4841.68
..   ...              ...
840  841         10112.16
841  842          2943.91
843  844          2762.56
844  845          4365.14
845  846          4243.35
846  847          6388.30
847  848          4721.85
848  849          2471.27
849  850          5282.43
851  852          3347.72
852  853          4339.30
853  854          6155.47
855  856          6046.46
856  857          7686.64
857  858          5817.78
858  859          5148.42
859  860         10093.58
860  861          3902.35
861  862         13503.82
862  863          2760.53
863  864          8681.38
864  865          5939.96
865  866         10094.97
866  867          3914.90
868  869          3577.28
870  871          3386.93
871  872          5022.59
872  873          5019.25
873  874          5319.84
874  875          8356.38

[718 rows x 2 columns]

In [103]:
# a row, where "rozvodniceIII_delka" is maximum
df[df.rozvodniceIII_delka == df.rozvodniceIII_delka.max()]
df[['ID', 'rozvodniceIII_delka']][df.rozvodniceIII_delka == df.rozvodniceIII_delka.max()]

      ID  rozvodniceIII_delka
730  731             17385.29

In [108]:
df.set_index('day')

RangeIndex(start=0, stop=875, step=1)

,ID,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
0,1,0,20,643.16,3,7653.58,747.59,36261.96,5767.13,456577.71
1,2,0,12,1.57,19,10267.07,5409.23,138528.54,1145.86,129623.91
2,3,0,0,0.00,0,3685.11,4942.49,107350.63,2.00,259425.21
3,4,0,0,0.00,0,1395.98,7101.82,0.00,0.00,17419.58
4,5,24,63,21.61,9,3580.46,4451.48,64319.63,56606.64,374180.01
5,6,0,4,294.18,5,6241.82,2218.96,265575.88,0.00,954052.15
6,7,0,64,1.14,19,5643.58,273.04,378195.80,13841.47,1296024.48
7,8,0,6,2.37,14,409.89,11880.32,1078720.67,1161.24,101066.98
8,9,0,0,0.00,0,5628.82,2241.55,19711.97,0.00,757418.72
9,10,60,130,1.77,19,2624.20,11064.65,46069.65,42.97,212551.81
10,11,0,30,36.45,5,5897.55,3776.00,108288.74,0.00,779118.94
11,12,0,4,28.59,9,1704.79,6496.71,48070.04,44093.66,131857.48
12,13,0,0,0.00,0,4770.81,9780.31,662812.81,0.00,45445.99
13,14,0,3,3.99,14,26657.17,7932.70,285791.16,2.00,1956248.78
14,15,0,1,22.87,7,1049.24,11210.35,781009.10,0.00,100948.94
15,16,0,0,0.00,0,3200.79,4731.48,8257.51,0.00,3352.48
16,17,96,240,7.17,16,4336.95,1919.00,1424000.32,41567.66,15108.85
17,18,0,5,1.47,28,2565.37,2684.22,199327.07,0.00,411377.28
18,19,0,32,1.56,20,3652.44,3774.48,1022922.98,29590.01,1014133.46
19,20,17,34,15516.85,8,3732.16,1368.81,1920557.66,0.00,394882.05
20,21,0,126,6.14,9,3245.96,5194.98,561289.04,0.00,132257.94
21,22,116,342,5.37,14,4290.32,544.21,83933.82,0.00,242144.39
22,23,16,77,9.41,11,4737.50,2666.25,1090204.48,24224.86,1457701.92
23,24,0,12,3.63,14,2313.35,1890.75,182835.21,0.00,523542.91
24,25,0,2,521.47,3,4402.13,4538.97,160611.98,37472.58,375148.55
25,26,0,0,0.00,0,4013.47,4458.38,40460.38,245.09,458908.27
26,27,0,16,18.99,9,11356.58,5237.61,175947.35,133354.79,1511263.77
27,28,13,50,5.74,13,5071.04,5662.04,375892.95,20961.24,354207.08
28,29,0,16,60.08,6,3803.42,7034.11,152772.52,0.00,430262.32
29,30,0,3,2.13,19,3698.04,1808.49,39700.43,0.00,503109.83
...,...,...,...,...,...,...,...,...,...,...
845,846,0,7,1.17,17,4243.35,6668.90,477563.56,815698.96,291880.09
846,847,16,65,2.69,20,6388.30,4177.44,244891.03,28854.58,1098221.52
847,848,0,72,8.15,14,4721.85,4967.25,27114.17,162767.92,1135074.41
848,849,39,70,1003.98,5,2471.27,3558.97,9476.45,653311.57,535455.86
849,850,0,0,0.00,0,5282.43,6352.44,262687.02,845.73,2285463.25
850,851,21,102,298.01,3,1871.04,6429.68,5866.05,11236401.64,82024.40
851,852,0,66,22.38,7,3347.72,5951.42,108735.23,8713681.03,2681.94
852,853,0,0,0.00,0,4339.30,2675.93,74134.40,4534543.43,644941.79
853,854,17,88,10.10,9,6155.47,8085.88,442814.06,23635.72,1713279.92
854,855,0,50,48.28,3,1763.58,5776.87,452048.23,2.00,587050.39
855,856,0,0,0.00,0,6046.46,4852.97,97242.83,46786.96,2725509.00
856,857,0,0,0.00,0,7686.64,6175.91,126418.22,222242.39,5158869.65
857,858,20,121,5.69,16,5817.78,4744.84,68883.12,673261.14,1326655.83
858,859,0,121,6.65,12,5148.42,3061.02,16632.09,597262.59,364543.70
859,860,19,110,7.79,10,10093.58,4789.22,93378.40,4612.94,985896.34
860,861,0,8,11.41,11,3902.35,4821.50,129179.78,1947323.52,404460.01
861,862,0,18,5.83,10,13503.82,594.70,9519.62,15463.34,791207.09
862,863,0,14,6.76,12,2760.53,6810.70,29701.13,0.00,892892.19
863,864,2,3,0.00,0,8681.38,6721.01,43656.55,1956.70,3102860.78
864,865,0,21,25.31,6,5939.96,5780.22,81612.78,2.00,577428.05
865,866,0,56,5.84,16,10094.97,4670.16,125060.23,3600.33,1984917.78
866,867,0,0,0.00,0,3914.90,7720.91,69154.75,7846.06,3568431.76
867,868,9,18,879.28,5,340.38,5244.97,3525.51,3968.82,389847.55
868,869,0,48,1.01,22,3577.28,1553.57,12768.89,18947.05,547633.23
869,870,0,40,16.31,9,1079.65,1564.84,34155.45,0.00,518441.26
870,871,0,0,0.00,0,3386.93,5504.67,30637.78,3625.95,1495668.19
871,872,0,10,0.00,0,5022.59,5981.77,251070.75,13535.81,534737.16
872,873,0,0,0.00,0,5019.25,9075.87,152686.74,924828.83,1488387.67
873,874,0,0,0.00,0,5319.84,5991.45,113714.38,754517.40,1527402.42
874,875,0,0,0.00,0,8356.38,762.32,1557485.76,22941.92,328163.62